@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infinite-scrolldown {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw);
  }
}

@keyframes infinite-scrollup {
  0% {
    transform: translateX(-50vw);
  }  100% {
    transform: translateX(0);
  }
}

.animate-infinite-scrolldown {
  animation: infinite-scrolldown 30s linear infinite;
}

.animate-infinite-scrollup {
  animation: infinite-scrollup 30s linear infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
