@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infinite-scrolldown {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50vw);
  }
}

@keyframes infinite-scrollup {
  0% {
    transform: translateX(-50vw);
  }  100% {
    transform: translateX(0);
  }
}

.animate-infinite-scrolldown {
  animation: infinite-scrolldown 30s linear infinite;
}

.animate-infinite-scrollup {
  animation: infinite-scrollup 30s linear infinite;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* 框架页导航栏样式 */
nav .router-link-active {
  @apply text-white font-medium;
}

nav .router-link-active::after {
  content: '';
  @apply block h-0.5 bg-blue-500 mt-1;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* 添加移动端优化样式 */
@media (max-width: 768px) {
  .mask-image-gradient-to-b {
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0));
  }
}

/* 列表项缩进对齐 */
.list-inside li {
  text-indent: -1.2em;
  padding-left: 1.2em;
  margin-left: 0.5em;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  height: 100%;
}
